/* Dichiarazioni generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}

#main-container {
  display: flex;
  height: calc(100vh - 100px);
  overflow: hidden;
}

/* Smartphone */

/* HEADER LATERALE */
header {
  width: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
  text-align: center;
}

header a {
  color: #808080;
}

header a:hover {
  color: #FFF;
}

header span, #logo, header .playlist, header h5 {
  display: none;
}

#logo-small {
  margin-bottom: 10px;
}

header .main-menu .icon {
  height: 35px;
  filter: brightness(60%);
}

header .main-menu .icon:hover {
  filter: brightness(100%);
}

header .main-menu .active .icon {
  filter: brightness(75%);
}

header .main-menu a.active {
  color: #BFBFBF;
}

header .main-menu a.active:hover {
  color: #FFF;
}

header .main-menu .home {
  background: url(../img/home.svg) no-repeat center;
}

header .main-menu .search {
  background: url(../img/search.svg) no-repeat center;
}

header .main-menu .libreria {
  background: url(../img/libreria.svg) no-repeat center;
}

header .download {
  font-size: 2rem;
  color: #FFF;
  margin-bottom: 15px;
}

header .download a i {
  font-size: 0.5rem;
  background-color: transparent;
  border: 1px #808080 solid;
  border-radius: 50%;
  padding: 3px;
}

header .download a:hover i {
  border-color: #FFF;
}

header .user .avatar {
  text-align: center;
  height: 30px;
  width: 30px;
  background: #808080 url(../img/profile.svg) center;
  border-radius: 50%;
}

/* MAIN */

main, #upgrade {
  min-width: 410px;
  width: calc(100% - 50px);
}

main {
  background-color: #141922;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}

/* Upgrade */
#upgrade {
  position: fixed;
  top: 0;
  padding: 20px 10px;
  display: flex;
  flex-direction: row-reverse;
  background-color: rgba(0, 0, 0, 0.5);
}

#upgrade a {
  display: block;
  padding: 15px 35px;
  border: 1px solid #FFF;
  border-radius: 30px;
  color: #FFF;
  text-transform: uppercase;
}

#upgrade a:hover {
  transform: scale(1.1, 1.1);
}

/* Home */
#home {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

/* Menù home */
#home .main-menu {
  width: 100%;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

#home .main-menu li {
  display: inline-block;
  margin: 10px 15px;
}

#home .main-menu a {
  color: #7D7F84;
}

#home .main-menu a:hover {
  color: #FFF;
}

#home .main-menu a.active::after {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  margin: 3px auto;
  background-color: #0F0;
}

/* Row */
#home .row {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

#home .row h2 {
  color: #FFF;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 15px;
}

#home .row h4 {
  color: #7D7F84;
  font-size: 0.8rem;
  font-weight: bold;
}

#home .row > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

#home .row > div a {
  display: block;
  height: 100%;
  width: 45%;
  text-align: center;
  margin-bottom: 30px;
}

#home .row > div a .titolo {
  font-size: 1.1rem;
  color: #FFF;
  line-height: 1rem;
  margin-bottom: 10px;
}

#home .row > div a .sottotitolo {
  font-size: 0.8rem;
  color: #7D7F84;
}

#home .row > div a .cover .fa-play-circle {
  display: none;
}

#home .row > div a:hover .cover .fa-play-circle {
  display: block;
  height: 100%;
  width: 100%;
  padding-top: calc(50% - 25px);
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 3rem;
  color: #FFF;
}

/* Cover */
#home .cover {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

#home .heavy-metal {
  background-image: url(../img/metal_lifting.jpg);
}

#home .stranger {
  background-image: url(../img/stranger.jpeg);
}

#home .a-quiet-place {
  background-image: url(../img/aquietplace.jpeg);
}

#home .split {
  background-image: url(../img/split.jpeg);
}

#home .a-cure-for-wellness {
  background-image: url(../img/cure.jpeg);
}

#home .sinister {
  background-image: url(../img/sinister.jpeg);
}

#home .relase-radar {
  background-image: url(../img/sinister.jpeg);
}

#home .daily-mix-1 {
  background-image: url(../img/mixdaily.jpeg);
}

#home .lana-del-rey {
  background-image: url(../img/youg.jpeg);
}

#home .ludovico-einaudi {
  background-image: url(../img/einaudi.jpeg);
}

#home .artisti a > div {
    border-radius: 50%;
  }


/* PLAYER */
/* Sezione sinistra */
#player {
  height: 100px;
  width: 100%;
  padding: 25px 10px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
}

#player a {
  color: #e4e4e4;
}

#player a:hover {
  color: #FFF;
  text-decoration: underline;
}

#player > div {
  flex-grow: 1;
}

/* Sezione sinistra */
#player .song {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #767676;
}

#player .song a {
  color: #868686;
}

#player .song a:hover {
  color: #FFF;
  text-decoration: underline;
}

#player .song .song-title {
  font-size: 0.9rem;
}

#player .song .song-title a {
  color: #e4e4e4;
}

#player .song .artist {
  font-size: 0.7rem;
}

#player .song .album-cover {
  width: 35px;
  height: 35px;
}

#player .song > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

#player .song i {
  font-size: 1rem;
}

/* Barra player */
#player .barra {
  height: 5px;
  background-color: #5A5A5A;
  border-radius: 5px;
}

#player .barra .current {
  height: 100%;
  background-color: #e4e4e4;
  border-radius: inherit;
  display: flex;
  flex-direction: row-reverse;
}

#player .barra .current i.fa-circle {
  display: none;
  font-size: 0.8rem;
  color: #FFF;
}

#player .barra:hover .current i.fa-circle {
  display: block;
}

#player .barra:hover .current {
  background-color: #0F0;
}

/* Sezione centrale */
#player .controlli-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-grow: 2;
  font-size: 1rem;
}

#player .controlli-center div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

#player .controlli-center .fa-play-circle {
  margin: 0 10px;
  font-size: 2rem;
}

#player .controlli-center .fa-play-circle:hover {
  transform: scale(1.1, 1.1);
}

#player .controlli-center .timer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: #FFF;
  font-size: 0.5rem;
  text-align: center;
}

#player .controlli-center .timer span {
  font-size: 0.6rem;
  color: #FFF;
}

#player .controlli-center .timer .barra {
  width: 100%;
}

#player .controlli-center .timer .barra .current {
  width: 25%;
}

#player .barra .current i.fa-circle {
  margin-top: 3px;
}

/* Sezione destra */
#player .controlli-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
}

#audio .barra {
  margin: 2px 0;
  display: inline-block;
  width: 70px;
}

#audio .barra .current {
  width: 35%;
}

#audio .barra .current i.fa-circle {
  margin-top: -3px;
}

/* BONUS: Tasto upgrade scompare in altezza */
@media screen and (max-height: 300px) {
  #upgrade {
    display: none;
  }

  #home {
    margin-top: 20px;
  }
}

/* Tablet */
@media screen and (min-width: 550px) {

  /* HEADER */
  header {
    width: 200px;
    padding: 20px;
    text-align: left;
  }

  header #logo {
    display: block;
    height: 45px;
    margin-bottom: 20px;
  }

  #logo-small {
    display: none;
  }

  header span {
    display: inline-block;
  }

  header .main-menu {
    margin-bottom: 30px;
  }

  header .main-menu li {
    margin: 10px 0;
  }

  header .main-menu .active {
    border-left: 3px solid #0F0;
    margin-left: -20px;
    padding-left: 20px;
  }

  header .main-menu a {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  header .main-menu .icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }

  header .main-menu a:hover .icon {
    filter: brightness(100%);
  }

  header h5 {
    display: block;
    font-size: 0.9rem;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
  }

  header .playlist {
    display: block;
  }

  header .playlist a {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  header .playlist li {
    margin: 15px 0;
  }

  header .playlist .fa-plus-square {
    display: inline-block;
    font-size: 3rem;
    margin-right: 10px;
  }

  header .download a {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }

  header .download i {
    margin-right: 10px;
  }

  header .user {
    border-top: 1px solid #717171;
    padding-top: 15px;
  }

  header .user a {
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 1.1rem;
  }

  header .avatar {
    margin-right: 10px;
  }

  /* MAIN */

  main, #upgrade {
    min-width: 0;
    width: calc(100% - 200px);
  }

  #home .row {
    margin: auto 3%;
  }
  
  #home .row > div {
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  #home .row > div a {
    max-width: 60%;
  }

  #home .row > div a .titolo, #home .row > div a .sottotitolo {
    margin: 10px auto;
  }
  
  /* PLAYER */
  #player .controlli-center .timer {
    width: 120%;
  }

  #audio .barra {
    width: 100px;
  }
}

/* Desktop medi */
@media screen and (min-width: 900px) {

  /* Cover */
  #home .row > div {
    gap: 25px;
  }

  #home .row > div a {
    max-width: 30%;
  }

  /* Player */
  #player .song > div:nth-child(3) {
    margin-left: 20px;
    flex-direction: row;
    gap: 20px;
  }
}

/* Desktop medi */
@media screen and (min-width: 1200px) {

  /* Cover */
  #home .row > div {
    justify-content: flex-start;
  }

  #home .row > div a {
    max-width: 160px;
  }
}